<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScrollDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB049C441DEC488300DAEDEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB049C5D1DEC488400DAEDEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB049C681DEC488400DAEDEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
